
<div class="jumbotrons step2top  step3top">

    <div class="banner"> Get Ready for Your Job & Intership Search</div>
    <div class="containers">
        <div class="row ">
            <div class="col-md-6 step2s left1">.col-md-4</div>
            <div class="col-md-6 step2s right1">.col-md-4</div>

        </div>
        <div class="row">
            <div class="col-md-6 step2 left2"><h2>quitz</h2></div>
            <div class="col-md-6 step2 right2">.col-md-4</div>

        </div>
        <div class="stepc">
             <button class="btn-danger btn-lg">step to continouse   </button>

        </div>

    </div>

</div>