
<div class="jumbotrons step2top">
    <div class="containers">
        <div class="row rows">
            <div class="col-md-3 step2s odd">.col-md-4</div>
            <div class="col-md-3 step2s even">.col-md-4</div>
            <div class="col-md-3 step2s odd">.col-md-4</div>
            <div class="col-md-3 step2s even">.col-md-4</div>
        </div>
        <div class="row">
            <div class="col-md-3 step2 odd">.col-md-4</div>
            <div class="col-md-3 step2 even">.col-md-4</div>
            <div class="col-md-3 step2 odd">.col-md-4</div>
            <div class="col-md-3 step2 even">.col-md-4</div>
        </div>

    </div>

</div>