@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>LOGO</h3>
    <h1>Certified Gator Professional</h1>
    <hr />  
    <p class="lead">The four parts in this program will help you prepare for your search, develop & understand your

brand, explore professionalism, communicate with others and learn about expectations of working

in a professional setting. At the conclusion of each Part’s video, you will be prompted to take a quiz.

Upon completion of all four, you will receive an email certifying that you have completed CGP. If

you have not already done so, create a Gator CareerLink account so we can include your status as

a Certified Gator Professional in your profile.
    
    </p>
    
     <div class="btn btn-danger btn-group-lg"><a>@Html.ActionLink("LETS GET STARTED", "Index", "Step2")</a></div>
</div>

